<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blog do Bussi</h1>
    <p class="lead">Bem vindo ao Blog do Bussi e fique a vontade para publicar totalmente de graça</p>
    <hr class="my-4">
    <p>caso você  ainda não tenha conta no site, basta se registrar apertando no botão abaixo</p>
    <%= link_to "Registrar", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



